RewriteEngine on
RewriteRule ^([a-zA-Z0-9\-_]+).html$ anasayfa.php?trendmaxtrs=$1 [L,QSA]
RewriteRule ^([a-zA-Z0-9\-_]+)$ anasayfa.php?trendmaxtrs=$1 [L,QSA]
RewriteRule ^blog/duzenle/(.*)$ anasayfa.php?trendmaxtrs=blog-ekle&duzenle=$1 [L,QSA]
RewriteRule ^kategori/duzenle/(.*)$ anasayfa.php?trendmaxtrs=kategori-duzenle&duzenle=$1 [L,QSA]
RewriteRule ^urun/duzenle/(.*)$ anasayfa.php?trendmaxtrs=urun-ekle&duzenle=$1 [L,QSA]
RewriteRule ^marka/duzenle/(.*)$ anasayfa.php?trendmaxtrs=marka-ekle&duzenle=$1 [L,QSA]
RewriteRule ^kampanya/duzenle/(.*)$ anasayfa.php?trendmaxtrs=kampanya-ekle&duzenle=$1 [L,QSA]
RewriteRule ^slider/duzenle/(.*)$ anasayfa.php?trendmaxtrs=slider-ekle&duzenle=$1 [L,QSA]
RewriteRule ^sayfa/duzenle/(.*)$ anasayfa.php?trendmaxtrs=sayfa-ekle&duzenle=$1 [L,QSA]
RewriteRule ^sss/duzenle/(.*)$ anasayfa.php?trendmaxtrs=sss-ekle&duzenle=$1 [L,QSA]
RewriteRule ^uye/duzenle/(.*)$ anasayfa.php?trendmaxtrs=uye-ekle&duzenle=$1 [L,QSA]
RewriteRule ^admin/duzenle/(.*)$ anasayfa.php?trendmaxtrs=admin-ekle&duzenle=$1 [L,QSA]
RewriteRule ^mesaj-duzenle/(.*)$ anasayfa.php?trendmaxtrs=mesaj-duzenle&duzenle=$1 [L,QSA]
RewriteRule ^eposta-duzenle/(.*)$ anasayfa.php?trendmaxtrs=eposta-duzenle&duzenle=$1 [L,QSA]
RewriteRule ^eposta-gonder$ anasayfa.php?trendmaxtrs=eposta-gonder [L,QSA]
RewriteRule ^kupon/duzenle/(.*)$ anasayfa.php?trendmaxtrs=kupon-ekle&duzenle=$1 [L,QSA]
RewriteRule ^hediyeceki/duzenle/(.*)$ anasayfa.php?trendmaxtrs=hediyeceki-ekle&duzenle=$1 [L,QSA]
RewriteRule ^destek-duzenle/(.*)$ anasayfa.php?trendmaxtrs=destek-duzenle&duzenle=$1 [L,QSA]
RewriteRule ^banka/duzenle/(.*)$ anasayfa.php?trendmaxtrs=banka-ekle&duzenle=$1 [L,QSA]
RewriteRule ^kargo/duzenle/(.*)$ anasayfa.php?trendmaxtrs=kargo-ekle&duzenle=$1 [L,QSA]
RewriteRule ^etiket/duzenle/(.*)$ anasayfa.php?trendmaxtrs=etiket-duzenle&duzenle=$1 [L,QSA]
RewriteRule ^siparis/duzenle/(.*)$ anasayfa.php?trendmaxtrs=siparis-duzenle&duzenle=$1 [L,QSA]
RewriteRule ^xml/duzenle/(.*)$ anasayfa.php?trendmaxtrs=xml-duzenle&duzenle=$1 [L,QSA]
RewriteRule ^sepet/duzenle/(.*)$ anasayfa.php?trendmaxtrs=sepet-duzenle&duzenle=$1 [L,QSA]